.home-view {
  min-height: 100vh;
  &__map {
    min-height: 50vh;
  }

  @media screen and (min-width: 768px) {
    &__map {
      min-height: 100vh;
    }
  }
}

.pop-up-result-header {
  border-bottom: 1px solid #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 12px;
}
.pop-up-result-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 16px 0 5px 0;
}

.pop-up-result-traffic {
  font-family: Noway, Gotham, Helvetica;
  font-size: 14px;
}

.pop-up-result-traffic.-important {
  color: #b1110e;
}

//select icon
.ant-select-item-option-content {
  display: flex;
  align-items: center;
}
