.suggestion-main {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 1999;
  // height: 100px;
  background-color: white;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 10px;
}
